<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>TestFast</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/vuejs-uib-pagination.js"></script>
    <script src="../plugins/layui/layui.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script type="text/javascript" src="js/config.js"></script>
    <script src="js/FormParams.js"></script>

    <link rel="stylesheet" href="../plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="../jqgrid/theme/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="../jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/qq.css"/>
    <style>

    </style>
</head>
<body>
<div class="admin-main layui-form" id="admin-main-params">
        <div class="layui-inline">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input class="layui-input " type="text" name="desc"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input class="layui-input " type="text" name="name"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">UID</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" name="uid" />
            </div>
        </div>

        <div class="layui-inline">

            <label class="layui-form-label">加密:</label>
            <div class="layui-input-block">
                <select name="allowAccess">
                    <option value="-1">-全部-</option>
                    <option value="1">公开</option>
                    <option value="0">加密</option>
                </select>
            </div>

        </div>

        <div class="layui-inline">
            <a class="layui-btn layui-btn-xs layui-btn-normal" id="searchBtn"
               href="javascript:void(0);">
                搜索 </a>
        </div>


</div>

<div id="app" class="flex-container">

    <div class="flex-item" v-for=" p  in photos ">
        <div class="p-title">{{p.uid}}</div>
        <div class="p-img"   >
            <img  v-bind:src=p.pre :photoid="p.id" @click="showImg" />
        </div>
        <div class="p-name">
            <span class="name" :title="p.name" >{{ p.name  | stromit  }}</span>
            <span class="img-num" >{{p.totalnum}}</span>
        </div>
    </div>

</div>



<div id="apppage" class="flex-container">
    <uib-pagination :total-items="bigTotalItems" :items-per-page="rows"  @change="pageChanged()" v-model="pagination2" :max-size="maxSize" class="pagination-sm " previous-text="上一页" next-text="下一页" first-text="第一页" last-text="最后一页" :boundary-links="true" :force-ellipses="true"></uib-pagination>
    <div class="page-title pagination pagination-sm " style="text-align: center;">  <span>共{{bigTotalItems}}条记录</span>  <span>{{pagination2.currentPage}} / {{pagination2.numPages}}</span> </div>
</div>

</body>
</html>
<script type="application/javascript">
    var vueInsstance;
    var pageApp;
    var formUtils = yihg_utils_fun;
    function getPhotoData(page,rows){
        var params = formUtils.getParams("admin-main-params");
        params["page"] = page;
        params["rows"] = rows;
        $.ajax({
            url:_webConfig.api+_webConfig.photo_list,
            dataType:"json",
            type:"post",
            contentType:"applicattion/json;charset=utf-8",
            data:JSON.stringify(params),
            success:function(result){
                if(!vueInsstance){
                    vueInsstance = new Vue({
                        el:"#app",
                        data:{
                            "ps":result.datas
                        },
                        computed:{
                            photos:function(){
                                return this.ps;
                            }
                        },
                        methods:{
                            showImg:function(event){
                                    var photoId = $(event.target).attr("photoId");
                                var TAB_OBJ = parent.tab;
                                TAB_OBJ.tabAdd({
                                    href:'qq/photo_img_list.html?photoId='+photoId,
                                    icon:'fa-github',
                                    title:'photo-'+photoId
                                });
                            }
                        },
                        filters: {
                            stromit:function(value){

                                var size = 5;
                                if(value && value.length > size ){
                                    return value.substr(0,size)+"..";
                                }
                                return value;
                            }
                        }
                    });
                }else{
                    vueInsstance.ps = result.datas;
                }

                pageInfo(page,result.total);

            }
        });
    }

    getPhotoData(1,40);

    function pageInfo(page,totalnums){
        if(!pageApp){
            pageApp =  new Vue({
                el: "#apppage",
                data: {

                    pagination2: { currentPage: page },

                    setPage: function(pageNo) {
                        this.pagination2.currentPage = pageNo;
                    },

                    pageChanged: function() {
                        console.log('Page changed to: ' + this.pagination2.currentPage);
                        getPhotoData(this.pagination2.currentPage,30);
                    },

                    maxSize: 15,
                    bigTotalItems: totalnums,
                    rows:30
                }
            });
        }else{
            pageApp.setPage(page);
            pageApp.bigTotalItems = totalnums;
        }

    }


    layui.use(['form'],function(){
        var layer = layui.layer;
        var form = layui.form;
        $ = layui.jquery;
        $("#searchBtn").on("click",function(){
            getPhotoData(1,30);
        });

        0 && $(".flex-container").on("click",".p-img",function(e){
            var thisObj = $(this);
            var photoId = thisObj.attr("photoId");
            var TAB_OBJ = parent.tab;
            TAB_OBJ.tabAdd({
                href:'qq/photo_img_list.html?photoId='+photoId,
                icon:'fa-github',
                title:'photo-'+photoId
            });
        });
    });












</script>